user-summary-content {

	.datesrow{
	background-color: #f2f2f2;
	}
.bgcolorwaring{
	background-color:#f97c7c54;
	padding:10px;
}
.noborder{
	border : 0px ;
}
.rowsummarydata{
	marging-top :20px;
	padding-top :20px;
}
}