user-summary-content {

	.datesrow{
	background-color: #f2f2f2;
	}
.bgcolorwaring{
	background-color:#f97c7c54;
	padding:10px;
}
.noborder{
	border : 0px ;
}
.rowsummarydata{
	marging-top :20px;
	padding-top :20px;
}
.logvoilationblock{
	width:40%;
	float:left;
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
}
.logtable{
	width:100%;
}

 @media screen and (max-width: 950px){
 	.logvoilationblock{
 	width:100%;
 	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
 	}
	.logtable{
		
	}
 }
}