
page-cancel-leave {
.sameSize{
	width:150px;
	text-transform: uppercase;
}
.title_icon_danger{
	height: 30px;
	font-size: 60px;
	color: #fa5777;
	padding: 0;
	padding-top:20px;
}
.title_icon_error{
	height: 30px;
	font-size: 60px;
	color: orange;
	padding: 0;
	padding-top:10px;
}
.mainContent{
	padding-top: 10px;
	padding-bottom: 20px;
	font-weight: bold;
	text-align: center;
}
.button1{
	padding-top: 20px;
	background-color: white;
	border: none;
	font-weight: bold;
	

}
.warning_message{
	color: red;
	padding-top: 5px;
}
.msg_container{
	padding-top: 10px;
	padding-bottom: 10px;
}
.subLeaveContent{
}
.cancelIcon{
	padding-top: 10px;
	font-size: 50px;
	color: red;
}
}

.popover-md {
	.popover-content.cancel-leave-popover2 {
	     top: 200px !important;
	     width: 400px;
	     min-height:300px;

        @media (min-width: 567px) {
            width: 400px;
        }
        @media (max-width: 567px) {
            width: 50%;
        }
	}
}

.cancel-leave-popup{
	.scroll-content{
		overflow: auto;
	}
	&__title{
		padding-top: 10px;
		/*padding: 1.3em;*/
    	/*border-bottom: 1px solid #eee;*/
    	/*background: #f2f2f2;*/
    	font-size: 13px;
	}
	.footer{
		background: #f2f2f2;
    	padding: 10px;
    	font-size: 13px;
	}
	.item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner,.list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child{
		border-bottom-color: #dedede;
		box-shadow: none;
	}
}
