<!--
  Generated template for the SummaryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>
	<ion-navbar>
		<ion-title>Ajency.in</ion-title>

     <ion-buttons end>
        <button ion-button icon-only (click)="presentPopover($event)">
          Sujit Gawas <ion-icon name="arrow-dropdown"></ion-icon> 
        </button>
      </ion-buttons>
    
	</ion-navbar>
</ion-header> -->
<ion-header>
    <logged-in-header> </logged-in-header>
</ion-header>

<ion-content >


<div class="container" p-h-20>

 <div class="user-page-title">
          <h1 class="dashboard-title"> Ajency.in  Work Summary </h1> 
          <h4 class="sub-title dash">Track Time. Record Work. Boost Productivity.</h4>
  </div>

        <div class="card-header">
                    <div class="pull-left">
                        <label for="search-table" class="search-emp-names">
                            <input id="search-table" type="search" class=" form-control" placeholder="Filter by Name" (ngModel)="text" (keyup)="onTextChange($event.target.value)" >
                            <i class="fa fa-search empty-icon"></i>
                            <!-- show this icon only if text has been entered - so the text can be cleared as well as the filtered table can be cleared -->
                            <a href="#" class="clear-icon hidden">&times;</a>
                        </label>

                         <label style="float: right;" for="find-week-day" class="wrapper">
                         			Jump to date
                                        <input type="date" class="picker form-control" max={{onFormatDate(todaysDate)}} [(ngModel)]="date" (change)="onDateChange(date)">
                         </label>
                    </div>
                    <div class="table-navi pull-right">
                        <!-- add class disabled to disable the btn/link -->
                        <a href="#" class="week-navi prev" (click)="fetchData(false)"><i class="fa fa-angle-left"></i></a>
                        <a href="#" class="week-navi next" (click)="fetchData(true)" [class.disabled]="nxtBtnDisable"><i class="fa fa-angle-right"></i></a>
                    </div>
                    <div class="clearfix"></div>
        </div>

<div class="table-view month hscroll-table hide-in-week-view">
  <div class="table-responsive">
                            <table style="width: 100%; height: 100%; border:none;">
                                <thead style="height: 30px;">
                                    <tr>
                                        <th style="width: 20%; height: 20%;" class="employee-id" (click)="sortBy('name')">
                                            <span class="th-label small-title">
                                                
                                                <span class="th-date">Employees <a href="#" class="sort-col"><i class="fa fa-sort"></i></a></span>
                                            </span>
                                        </th>
                                        <th style="width: 8%; height: 8%%;" *ngFor="let item of weekBucket;let key = index">
                                            <span class="th-label small-title" (click)="sortBy('date',item,key)">
                                                <span class="th-date"> {{item | date : 'dd MMM'}}<a href="#" class="sort-col" ><i class="fa fa-sort"></i></a></span>
                                                <span class="th-day">{{item | date: 'EEE'}}</span>
                                            </span>
                                        </th>
                                        
                                        <th style="width: 8%; height: 8%%;" >
                                            <span class="th-label small-title" (click)="sortBy('total')">
                                                <span class="th-date">Total <a href="#" class="sort-col"><i class="fa fa-sort"></i></a></span>
                                                <span class="th-day">&nbsp;</span>
                                            </span>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <ng-container *ngIf="summaryData && summaryData.length != 0">
                                        <tr class="" *ngFor="let item of summaryData">
                                            <td class="employee-id">
                                                <a (click) = "navigateToDashboard(item)" style="cursor: pointer;" class="employee-name" data-toggle="tooltip" data-html="true" data-placement="bottom" title="More details of this employee">
                                                    <span style="text-align: center;" class="th-total">{{item.user.name}}</span>
                                                   
                                                </a>
                                            </td>
                                            <ng-container *ngIf="item.summary.length == 0 && future_date">
                                                <td [colSpan]="7" class="noData">
                                                    <span class="th-total" style="text-align: center;">No Data Acquired</span>
                                                </td>
                                            </ng-container>
                                             <ng-container *ngIf="item.summary.length == 0 && ! future_date">
                                                <td [colSpan]="7" class="noData">
                                                    <span class="th-total" style="text-align: center;">Not joined</span>
                                                </td>
                                            </ng-container>

                                            <ng-container *ngIf="item.summary.length != 0">
                                                <td *ngFor="let workday of item.summary">
                                                    <a  class="single-day" data-toggle="tooltip" data-html="true" data-placement="bottom" title="Tooltip"  (click) = "usersdaydata(workday,item)">
                                                        <div *ngIf="workday.leave_status === 'Present' || workday.leave_status === 'Worked'  || workday.leave_status === 'Worked on weekend' || workday.leave_status === 'Worked on holiday' ">
                                                            <!-- <span class="th-total">{{ (workday.total_time != null || workday.total_time != '') ? getDayDate(workday.total_time,5) : "n/a" }}</span> -->
                                                            <span class="th-total th-small">Worked: {{ (workday.total_time != null || workday.total_time != '') ? getDayDate(workday.total_time,5) : naText }} <br/>(Lunch: {{ (workday.slots.lunch ? workday.slots.lunch : naText) }})</span>
                                                            <span class="th-spilt">
                                                                <span class="th-work">{{ workday.start_time != '' ? getDayDate(workday.start_time, 5) : "n/a"}}</span> -
                                                                <span class="th-break">{{ workday.end_time != '' ? getDayDate(workday.end_time, 5) : "n/a"}}</span>
                                                            </span>
                                                        </div>
                                                        <div *ngIf="workday.leave_status == 'Leave' || workday.leave_status == 'Holiday' || workday.leave_status == 'Weekend' || workday.leave_status == 'Not joined' ">
                                                            <span class="th-total">{{workday.leave_status}}</span>
                                                            <span class="th-spilt">
                                                                <span class="th-work"></span> - <span class="th-break"></span>
                                                            </span>
                                                        </div>

                                                        <div *ngIf="workday.leave_status == 'Leave due to violation' ">
                                                            <span class="th-total">Leave</span>
                                                            <span class="th-spilt">
                                                                <span class="th-work"></span> - <span class="th-break"></span>
                                                            </span>
                                                        </div>
                                                    </a>
                                                </td>
                                               
                                                <td [colSpan]="7 - item.summary.length" *ngIf="item.summary.length !== 7"></td>
                                                <!-- <td class="sunday"> -->
                                                   
                                                <!-- </td> -->
                                            </ng-container>
                                            <td>
                                                <a class="single-day total current" data-toggle="tooltip" data-html="true" data-placement="bottom" title="Tooltip">
                                                    <!-- <span class="th-total">{{item.total_time}} </span> -->
                                                    <span class="th-total th-small">Worked: {{ item.period_meta.worked_total ? item.period_meta.worked_total : naText }} <br/>(Lunch: {{ item.period_meta.lunch_total ? item.period_meta.lunch_total : naText }})</span>
                                                    <span class="th-spilt">
                                                        <span class="th-break"></span>
                                                       
                                                    </span>
                                                </a>
                                            </td>
                                        </tr>
                                    </ng-container>
                                    <ng-container *ngIf="userData && userData.length == 0">
                                        <tr>
                                            <td colspan="9" class="noData">No data to display</td>       
                                        </tr>
                                    </ng-container>
                                </tbody>
                            </table>
                        </div>
                    </div>
                 </div>
</ion-content>

<ion-footer>
 <footer-element></footer-element>
</ion-footer>