
.popover-md {
	.popover-content.logs-changed-popover2 {
	     top: 200px !important;
        @media (min-width: 567px) {
            width: 300px;
        }
        @media (max-width: 567px) {
            width: 60%;
        }
	}
}