<!-- Week Container -->
<div class="week">
    <!-- Current week -->
    <div class="week__current current-card">
        <div class="current-card__header flex-row">
            <p ion-text color="primary" no-margin>This Week</p>
            <p ion-text no-margin color="text">43.43hr/45hr</p>
            <div class="week-loader" style="width: 80%"></div>
        </div>
        <div class="timeline-container">
            <div class="current-card__body flex-row" p-v-25>
                <h2 class="time" m-t-0 p-r-40>3:02<span class="xxx-small">hr</span></h2>
                <div class="day">
                    <p ion-text color="primary" no-margin m-b-5 class="day-title">Today</p>
                    <span ion-text color="text-darker">Friday 12, May</span>
                </div>
            </div>
            <div class="current-card__footer flex-row">
                <div class="timing in" p-h-12 p-v-12>
                    <i class="custom-icon indoor"></i> <span>9:35am</span>
                </div>
                <div class="timing out" p-h-12 p-v-12>
                    <i class="custom-icon outdoor"></i> <span ion-text color="success">Online</span>
                </div>
            </div>
        </div>
    </div>
    <!-- Current week ends -->
    <!-- Full week -->
    <div class="week__full full-card">
        <div class="full-card__header flex-row">
            <p no-margin>This Week</p>
            <button ion-button clear>
                <ion-icon name="calendar" color="text" class="icon-size full"></ion-icon>
            </button>
        </div>
        <div class="full-card__body">
            <!-- Week list -->
            <ul class="week-list list-control overflow-active">
                <button ion-item class="week-container" m-v-15 (click)="openSummary()" *ngFor="let date of data.dates">
                    <li class="week-list__row flex-row">
                        <div class="week-list__day">
                            <p class="day-title" ion-text color="darken" m-t-0 m-b-8 font-weight-4>{{getDayDate(date.date,1)}}</p>
                            <span ion-text color="text-lighter">{{getDayDate(date.date,2)}}</span>
                        </div>
                        <div class="week-list__session">
                            <span class="dis-block session-start" m-t-0 m-b-8 font-weight-4>{{getDayDate(date.start_time,3)}}</span>
                            <span ion-text [ngClass]="{'text-md-success': date.status_flag == 'online'}">{{getDayDate(date.end_time,4)}}</span>
                        </div>
                        <div class="week-list__time flex-row">
                            <ion-icon name="alert" color="danger" class="icon-size mini"></ion-icon>
                            <h6 class="total-time" p-h-12 ion-text color="text-darker">{{getDayDate(date.hours_completed,5)}}<span class="xx-small" p-l-2 font-weight-4>hr</span></h6>
                            <ion-icon ion-text color="text-darker" name="ios-arrow-forward-outline" class="icon-size mini"></ion-icon>
                        </div>
                    </li>
                </button>
                <!--<button ion-item class="week-container " m-v-15 (click)="openSummary() ">
                    <li class="week-list__row flex-row ">
                        <div class="week-list__day ">
                            <p class="day-title " ion-text color="darken " m-t-0 m-b-8 font-weight-4>Thu</p>
                            <span ion-text color="text-lighter ">May 11</span>
                        </div>
                        <div class="week-list__session ">
                            <span class="session-start dis-block " m-t-0 m-b-8 font-weight-4>09:28 am</span>
                           
                            <span ion-text>6:28 pm</span>
                        </div>
                        <div class="week-list__time flex-row ">
                            <i data-tooltip="Please update your details "><ion-icon name="alert " color="danger " class="hvr-buzz-out test-icon icon-size mini "></ion-icon></i>
                            <h6 class="total-time " p-h-12 ion-text color="text-darker ">9:00<span class="xx-small " p-l-2 font-weight-4>hr</span></h6>
                            <ion-icon ion-text color="text-darker " name="ios-arrow-forward-outline " class="icon-size mini "></ion-icon>
                        </div>
                    </li>
                </button>
                <button ion-item class="week-container active " m-v-15 (click)="openSummary() ">
                    <li class="week-list__row flex-row ">
                        <div class="week-list__day ">
                            <p class="day-title " ion-text color="darken " m-t-0 m-b-8 font-weight-4>Wed</p>
                            <span ion-text color="text-lighter ">May 10</span>
                        </div>
                        <div class="week-list__session ">
                            <span class="session-start dis-block " m-t-0 m-b-8 font-weight-4>09:45 am</span>
                            <span ion-text>7:13 pm</span>
                        </div>
                        <div class="week-list__time flex-row ">
                            <ion-icon name="alert " color="danger " class="hvr-buzz-out icon-size mini "></ion-icon>
                            <h6 class="total-time " p-h-12 ion-text color="text-darker ">9:27<span class="xx-small " p-l-2 font-weight-4>hr</span></h6>
                            <ion-icon ion-text color="text-darker " name="ios-arrow-forward-outline " class="icon-size mini "></ion-icon>
                        </div>
                    </li>
                </button>
                <button ion-item class="week-container " m-v-15 (click)="openSummary() ">
                    <li class="week-list__row flex-row ">
                        <div class="week-list__day ">
                            <p class="day-title "  ion-text color="darken " m-t-0 m-b-8 font-weight-4>Tue</p>
                            <span ion-text color="text-lighter ">May 09</span>
                        </div>
                        <div class="week-list__session ">
                            <span class="session-start dis-block " m-t-0 m-b-8 font-weight-4>09:40 am</span>
                            <span ion-text color="primary ">6:45 pm</span>
                        </div>
                        <div class="week-list__time flex-row ">
                            <ion-icon name="checkmark-circle " color="text " class="icon-size mini "></ion-icon>
                            <h6 class="total-time " p-h-12 ion-text color="text-darker ">9:05<span class="xx-small " p-l-2 font-weight-4>hr</span></h6>
                            <ion-icon ion-text color="text-darker " name="ios-arrow-forward-outline " class="icon-size mini "></ion-icon>
                        </div>
                    </li>
                </button>
                <button ion-item class="week-container " m-v-15 (click)="openSummary() ">
                    <li class="week-list__row flex-row ">
                        <div class="week-list__day ">
                            <p class="day-title "  ion-text color="darken " m-t-0 m-b-8 font-weight-4>Mon</p>
                            <span ion-text color="text-lighter ">May 08</span>
                        </div>
                        <div class="week-list__session ">
                            <span class="dis-block " m-b-11>09:24 am</span>
                            <span ion-text>6:40 pm</span>
                        </div>
                        <div class="week-list__time flex-row ">
                            <ion-icon name="checkmark-circle " color="success " class="hvr-bounce-in icon-size mini "></ion-icon>
                            <h6 class="total-time " p-h-12 ion-text color="text-darker ">3:02<span class="xx-small " p-l-2 font-weight-4>hr</span></h6>
                            <ion-icon ion-text color="text-darker " name="ios-arrow-forward-outline " class="icon-size mini "></ion-icon>
                        </div>
                    </li>
                </button>
                <button ion-item class="week-container " m-v-15>
                    <li class="week-list__row flex-row ">
                        <div class="week-list__day ">
                            <p class="day-title " ion-text color="darken " m-t-0 m-b-8 font-weight-4>Tue</p>
                            <span ion-text color="text-lighter ">May 09</span>
                        </div>
                        <div class="week-list__session ">
                            <span class="dis-block " m-b-11>09:40 am</span>
                            <span ion-text color="primary ">6:45 pm</span>
                        </div>
                        <div class="week-list__time flex-row ">
                            <ion-icon name="checkmark-circle " color="text " class="icon-size mini "></ion-icon>
                            <h6 class="total-time " p-h-12 ion-text color="text-darker ">3:02<span class="xx-small " p-l-2 font-weight-4>hr</span></h6>
                            <ion-icon ion-text color="text-darker " name="ios-arrow-forward-outline " class="icon-size mini "></ion-icon>
                        </div>
                    </li>
                </button>
                <button ion-item class="week-container " m-v-15>
                    <li class="week-list__row flex-row ">
                        <div class="week-list__day ">
                            <p class="day-title "  ion-text color="darken " m-t-0 m-b-8 font-weight-4>Mon</p>
                            <span ion-text color="text-lighter ">May 08</span>
                        </div>
                        <div class="week-list__session ">
                            <span class="dis-block " m-b-11>09:24 am</span>
                            <span ion-text>6:40 pm</span>
                        </div>
                        <div class="week-list__time flex-row ">
                            <ion-icon name="checkmark-circle " color="success " class="hvr-bounce-in icon-size mini "></ion-icon>
                            <h6 class="total-time " p-h-12 ion-text color="text-darker ">3:02<span class="xx-small " p-l-2 font-weight-4>hr</span></h6>
                            <ion-icon ion-text color="text-darker " name="ios-arrow-forward-outline " class="icon-size mini "></ion-icon>
                        </div>
                    </li>
                </button>-->
                <!-- View More -->
                <!-- <li class="view-more " text-center>
                    <button ion-button clear color="text " p-t-10>
                        <span class="dis-block " text-capitalize font-weight-4>View More</span>
                        <ion-icon name="arrow-down " m-t-8></ion-icon>
                    </button>
                </li> -->
                <!-- View More ends -->
            </ul>
            <!-- Week list ends -->
        </div>
    </div>
    <!-- Full week ends -->
</div>