<!-- Generated template for the SummarySidebarComponent component -->
<!-- Week Container -->
<div class="week">
    <!-- Current week -->
    <div class="week__current current-card">
        <div class="current-card__header flex-row">
            <p ion-text color="primary" no-margin>This Week</p>
            <p ion-text no-margin color="text">43.43hr/45hr</p>
            <div class="week-loader" style="width: 80%"></div>
        </div>
        <div class="timeline-container">
            <div class="current-card__body flex-row" p-v-25>
                <h2 class="time" m-t-0 p-r-40>3:02<span class="xxx-small">hr</span></h2>
                <div class="day">
                    <p ion-text color="primary" no-margin m-b-5 class="day-title">Today</p>
                    <span ion-text color="text-darker">Friday 12, May</span>
                </div>
            </div>
            <div class="current-card__footer flex-row">
                <div class="timing in" p-h-12 p-v-12>
                    <i class="custom-icon indoor"></i> <span>9:35am</span>
                </div>
                <div class="timing out" p-h-12 p-v-12>
                    <i class="custom-icon outdoor"></i> <span ion-text color="success">Online</span>
                </div>
            </div>
        </div>
    </div>
    <!-- Current week ends -->