
.popover-md {
	.popover-content.editleave-popover2 {
		right: 8em;
		left: inherit !important;
		/*left: 0 !important;*/
	   /*margin-right: 15px !important;*/
      /*  @media (min-width: 567px) {
            width: 300px;
        }
        @media (max-width: 567px) {
            width: 60%;
        }*/
	}
}
