<!--
  Generated template for the LeaveModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content class="leave-popup">

	<div class="my-leave-popup">
		<div align="center" class="leave-popup__title">
			<ng-container *ngIf="modalType=='editLeave'">
				<h6> Edit A Leave</h6>
			</ng-container>
			<ng-container *ngIf="modalType !='editLeave'">
				<h6> Add A Leave</h6>
			</ng-container>
		</div>
		<div padding>
			<ion-grid>
			  <ion-row>
			    <ion-col col-12>
			    	<div> Date </div>
			    	<ng-container *ngIf="modalType !='editLeave'">
			    	<div class="datePickerBox">
	                	<my-date-picker name="myDate" [options]="myDatePickerOptions" (dateChanged)="onDateChanged($event)"
	               			 [(ngModel)]="model" required placeholder="Select date">
	               		</my-date-picker>
	               		<ng-container *ngIf="  this.selectedDates.length !=0">
	               			<ng-container *ngFor="let item of this.selectedDates">
	               				<div class="selectedDatesBlock" >{{item}} <ion-icon class="removeDate" name="close" (click) = "deleteSetected(item)"></ion-icon></div>
	               			</ng-container>
	               		</ng-container>
			    	</div> 	
			    </ng-container>
			    <ng-container *ngIf="modalType =='editLeave'">
			    	<div class="datePickerBox">
	                	<my-date-picker name="myDate" [options]="myDatePickerOptions" (dateChanged)="editDateChanged($event)"
	               			 [(ngModel)]="model" required placeholder="Select date">
	               		</my-date-picker>

	               		<ng-container *ngIf=" editSelectedDates.length !=0">
	               			<ng-container *ngFor="let item of editSelectedDates">
	               				<div class="selectedDatesBlock" >{{item}} <ion-icon class="removeDate" name="close" (click) = "editDeleteSetected(item)"></ion-icon></div>
	               			</ng-container>
	               		</ng-container>
			    	</div> 	
			    </ng-container>
			    </ion-col>
			  </ion-row>
			  <ion-row>
			    <ion-col col-12>
			    	<ng-container *ngIf="modalType !='editLeave'">
			    	<!-- <tag-input [ngModel]="['Javascript', 'Typescript']" ></tag-input> -->
			    	<div style="padding-bottom: 10px;" class="LeaveTagUsers">
			    		Tags 
			             <tag-input [ngModel]="items" [onlyFromAutocomplete]="true" (onAdd)="onItemAdded($event)" (onRemove)="onItemRemoved($event)"  required placeholder="Tag Your Colleagues" theme='minimal'>
			                <tag-input-dropdown  class="dropdown_custom" [showDropdownIfEmpty]="false"
			                                   
			                                    [displayBy]="'user_tag'"
			                                    [identifyBy]="'user_id'"
			                                    [autocompleteItems]="autocompleteItemsAsObjects">
			                    <ng-template let-item="item" let-index="index">
			                       {{ item.name }}
			                    </ng-template>
			                </tag-input-dropdown>
           				 </tag-input> 
			    	</div> 
			    	</ng-container>
			    	<!--  -->
			    	<ng-container *ngIf="modalType =='editLeave'">
						<div style="padding-bottom: 10px;" class="LeaveTagUsers">
				    		Tags 
				             <tag-input [ngModel]="editedItems" [onlyFromAutocomplete]="true" (onAdd)="editOnItemAdded($event)" (onRemove)="editOnItemRemoved($event)"  required placeholder="Tag Your Colleagues" theme='minimal'>
				                <tag-input-dropdown  class="dropdown_custom" [showDropdownIfEmpty]="false"
				                                    [displayBy]="'user_tag'"
				                                    [identifyBy]="'user_id'"
				                                    [autocompleteItems]="autocompleteItemsAsObjects2">
				                    <ng-template let-item="item" let-index="index">
				                       {{ item.name }}
				                    </ng-template>
				                </tag-input-dropdown>
	           				 </tag-input> 
	           				<!--  <ng-container *ngIf="  this.editSelectedUsers.length !=0">
		               			<ng-container *ngFor="let item of this.editSelectedUsers">
		               				<div class="selectedDatesBlock" >{{item.name}} <ion-icon class="removeDate" name="close" (click) = "editOnItemRemoved(item)"></ion-icon></div>
		               			</ng-container>
		               		</ng-container> -->
				    	</div> 
			    	</ng-container>
			    	<!--  -->
			    	<ng-container *ngIf="modalType!='editLeave'">
				    	<div class="leaveNote">
				    		<div class="leaveNoteHeader"> Leave a Note</div>
				    		<textarea  [ngModel]="leaveNote" id="leaveNoteData" required (keyup)="leaveNoteData($event.target.value)" style="min-width: 100%;min-height: 100px; "></textarea>	
				    	</div>
			   	 	</ng-container>
			    	<ng-container *ngIf="modalType=='editLeave'">
				    	<div class="leaveNote">
				    		<div class="leaveNoteHeader"> Leave a Note</div>
				    		<textarea  [ngModel]="leaveNote" id="leaveNoteData" required (keyup)="editLeaveNoteData($event.target.value)" style="min-width: 100%;min-height: 100px; "></textarea>	
				    	</div>
			    	</ng-container>
			    </ion-col>
			  </ion-row>
			</ion-grid>
			<ng-container *ngIf="modalType!='editLeave'">
				<div style="text-align: center;"><button ion-button [disabled]="buttonRequestApi==false" (click)="sendData()">Take a leave</button></div>
				<div style="text-align: center;padding-bottom: 20px;"><button  class="sameSize button1"(click)="close()">Cancel</button></div>
			</ng-container>
			<ng-container *ngIf="modalType=='editLeave'">
				<div style="text-align: center;"><button ion-button [disabled]="buttonRequestApi==false" (click)="updateData()">Update</button></div>
				<div style="text-align: center;padding-bottom: 20px;"><button  class="sameSize button1"(click)="funclose()">Cancel</button></div>
			</ng-container>
		</div>
	</div>
</ion-content>
