<!-- Site header goes here -->

<ion-header>
    <logged-in-header> </logged-in-header>
</ion-header>

<!-- Site header ends -->


<!-- Body starts -->

<ion-content padding>
    <div class="container" p-h-20>

        <ion-grid class="grid dashboard" m-t-15 p-h-30>
            <ion-row class="row dashboard__row">
                <ion-col class="col mobile-hide" col-12 m-b-20>
                    <!-- Heading -->
                    <div class="section-title">
                        <i class="custom-icon summary" m-r-10></i>
                        <h5 *ngIf="sideBarData && sideBarData.data.user.self" class="page-title">{{ "my_summary" | translate }}</h5>
                        <h5 *ngIf="sideBarData && !sideBarData.data.user.self" class="page-title"> {{sideBarData.data.user.name}}'s {{ "summary" | translate }}</h5>

                    </div>
                </ion-col>
                <ion-col class="col dashboard__summary" col-12 col-md-12 col-lg-8 p-h-0 p-v-0>
                    <!-- Summary section -->
                    <div class="summary">
                        <!-- Summary sidebar <section></section>ion (From component-sidebar)-->
                        <summary-sidebar *ngIf="sideBarData && summaryContentData" [test]="sideBarData" [day_data]="summaryContentData" class="summary__sidebar" p-h-20 ></summary-sidebar>
                        <!-- Summary sidebar ends -->
                        <!-- Summary content -->
                        <summary-content *ngIf="sideBarData && summaryContentData" [is_current_user]="false" [test]="summaryContentData.day_data" [logs]="summaryContentData" class="summary__content" p-h-20 ></summary-content>
                        <!-- Summary content ends -->
                        <div *ngIf = "failed" align="center"> {{message}} </div>
                    </div>
                </ion-col>
<!--                 <ion-col col-12 col-md-12 col-lg-4 p-h-0 p-v-0>
                    <span>My Leave Balance</span>
                </ion-col> -->
                <ion-col class="col dashboard__leaves mobile-hide" col-12 col-md-12 col-lg-4 p-h-0 p-v-0>
                   <!--  <ion-col col-12 col-md-12 col-lg-4 p-h-0 p-v-0 *ngIf = " summaryContentData && sideBarData" class="p-l-10" style="border :1px solid black"> -->
                        <div class="p-b-20" *ngIf ="summaryContentData && sideBarData">
                            <div class="leaveContainer">
                                <ion-grid>
                                    <ion-row >
                                        <ion-col col-6  col-md-6 col-lg-6 >
                                            <!-- <span>  -->
                                            <span *ngIf="sideBarData && sideBarData.data.user.self" >My Leave Balance</span>
                                            <span *ngIf="sideBarData && !sideBarData.data.user.self" > {{sideBarData.data.user.name}}'s Leave Balance </span>
                                             <!-- Leave Balance</span> -->
                                            <!-- <span (click)="testing()">click</span> -->
                                            <div>
                                                <h3 font-weight-5 >
                                                    06
                                                </h3>
                                            </div>
                                        </ion-col>
                                        <ion-col col-6  col-md-6 col-lg-6 >
                                            <button ion-button class="leaveButton" (click) = "leaveModal()">Take a leave</button>
                                        </ion-col>
                                    </ion-row>
                                </ion-grid>  
                                <hr>
                                <ion-grid>
                                    <ion-row>
                                        <ion-col col-12  col-md-12 col-lg-12 >
                                            <h5 *ngIf="sideBarData && sideBarData.data.user.self" font-weight-5>My leaves <span class="countLeaves" *ngIf="userLeaveData != undefined && userLeaveData.data.leaves.length != 0 " >{{myLeaveCount}}</span> <span style="float: right;cursor: pointer;display:none;" id="myLeaveToggle" (mouseup)="mytoggle()"><span class="toggletxt">view less</span></span>  <span style="float: right;cursor: pointer;" id="myLeaveToggle1" (mouseup)="mytoggle()"> <span class="toggletxt1">view more</span></span></h5>

                                            <h5 *ngIf="sideBarData && !sideBarData.data.user.self" font-weight-5> {{sideBarData.data.user.name}}'s  leaves <span class="countLeaves"  *ngIf="userLeaveData != undefined && userLeaveData.data.leaves.length != 0 ">{{myLeaveCount}}</span> <span style="float: right;cursor: pointer;display:none;" id="myLeaveToggle" (mouseup)="mytoggle()"><span class="toggletxt">view less</span></span>  <span style="float: right;cursor: pointer;" id="myLeaveToggle1" (mouseup)="mytoggle()"> <span class="toggletxt1">view more</span></span></h5>
                                        </ion-col>
                                    </ion-row>
                                    <div class="myLeaveToggleBox" style="display:none;">

                                    <ion-row>
                                        <ion-col col-12  col-md-12 col-lg-12 >
                                            
                                            <div class="select">
                                                <span class="arr"></span>
                                                <select (change)="MyLeaveType($event)" >
                                                  <option [attr.value]="n">Upcoming</option>
                                                  <option [attr.value]="n">All</option>
                                                </select>
                                            </div>
                                        </ion-col>
                                    </ion-row>
                                    <ion-row>
                                         <ion-col col-12  col-md-12 col-lg-12>
                                          <ng-container *ngIf="userLeaveData != undefined">
                                            <ng-container  *ngIf="userLeaveData.data.leaves.length == 0">
                                              <div font-weight-5 style="text-align: center;"> No Leaves Found</div>
                                            </ng-container>
                                            <ng-container *ngFor="let item of userLeaveData.data.leaves | slice:0:leaveShow;let leaveIndex =index ">
                                            <div class="leaveViewBlock">
                                                <div class="TeamUserName"> 
                                                    <!-- <ion-list m-b-0>
                                                      <ion-item p-l-0 >
                                                        <ion-avatar item-start>
                                                          <img src="https://lh3.googleusercontent.com/-XdUIqdMkCWA/AAAAAAAAAAI/AAAAAAAAAAA/4252rscbv5M/photo.jpg?sz=50 ">
                                                        </ion-avatar>
                                                        {{item.user.name}} -->
                                                        <!--  <ng-container *ngFor="let username of item.user>
                                                          {{username.name}} :
                                                         </ng-container> -->
                                                    <!--   </ion-item>
                                                    </ion-list> -->
                                                    <!-- https://lh3.googleusercontent.com/-XdUIqdMkCWA/AAAAAAAAAAI/AAAAAAAAAAA/4252rscbv5M/photo.jpg?sz=50 -->
                                                     {{item.user.name}}
                                                  
                                                </div>
                                                <div class="">
                                                     <div class="leaveNote"> <ng-container *ngIf="item.leave_date">
                                                <!-- I'm Going on a leave for 3 days from June 6th to June 8th -->
                                                       {{item.leave_note}} for {{item.leave_date.length}} Days on
                                                       
                                                        <ng-container *ngFor="let dates of item.leave_date ; let i=index ">
                                                            <ng-container *ngIf="i == item.leave_date.length- 1 && item.leave_date.length !=1 ">and</ng-container>
                                                            <span font-weight-5> {{getDayDate(dates,5)}} </span>
                                                            <ng-container *ngIf="i < item.leave_date.length- 2">,</ng-container>
                                                        </ng-container>
                                                       </ng-container>
                                                    </div>
                                                   
                                                    <span class="taggedUsers">
                                                        <ng-container *ngIf="item.tagged_users.length ==1">
                                                            <sub><ion-icon name="pricetag" style="color:orange;font-size: 16px;"></ion-icon></sub>
                                                        </ng-container>
                                                        <ng-container *ngIf="item.tagged_users.length !=1">
                                                            <sub><ion-icon name="pricetags" style="color:orange;font-size: 16px;"></ion-icon></sub>
                                                        </ng-container>
                                                         <ng-container *ngIf="item.tagged_users.length ==1">
                                                             <ng-container *ngFor="let tag of item.tagged_users ; let i=index ">
                                                                  @{{tag.name}}  
                                                             </ng-container>
                                                        </ng-container>
                                                        <ng-container *ngIf="item.tagged_users.length !=1">
                                                            <span class="morebtn">
                                                                 <ng-container *ngFor="let tag of item.tagged_users | slice:0:show; let i=index ">
                                                                      @{{tag.name}}  <ng-container *ngIf="i != show- 1 && i != item.tagged_users.length- 1" >,</ng-container>
                                                                 </ng-container>
                                                            </span>
                                                             <span class="morebtn"  *ngIf=" show < item.tagged_users.length " (mouseup)="showAllTags(item.tagged_users)" > 

                                                                 <div class="dropdownTags">
                                                                  <span class="dropbtn">+ {{item.tagged_users.length-show}} Others</span>
                                                                  <div class="dropdownTags-content" >
                                                                    <a *ngFor="let option of item.tagged_users| slice:show:item.tagged_users.length">{{option.name}}</a>

                                                                  </div>
                                                                </div>
                                                             </span>
                                                        </ng-container>
                                                    </span>
                                                    <!--  <span class="taggedUsers displayTagedUsers hide">
                                                        <ng-container *ngIf="item.tagged_users.length ==1">
                                                            <sub><ion-icon name="pricetag" style="color:orange;font-size: 16px;"></ion-icon></sub>
                                                        </ng-container>
                                                        <ng-container *ngIf="item.tagged_users.length !=1">
                                                            <sub><ion-icon name="pricetags" style="color:orange;font-size: 16px;"></ion-icon></sub>
                                                        </ng-container>
                                                         <ng-container *ngIf="item.tagged_users.length ==1">
                                                             <ng-container *ngFor="let tag of item.tagged_users ; let i=index ">
                                                                  @{{tag.name}}  
                                                             </ng-container>
                                                        </ng-container>
                                                        <ng-container *ngIf="item.tagged_users.length !=1">
                                                            <span >
                                                                 <ng-container *ngFor="let tag of item.tagged_users  let i=index ">
                                                                      @{{tag.name}}  <ng-container *ngIf="i != item.tagged_users.length- 1 && i != item.tagged_users.length- 1" >,</ng-container>
                                                                 </ng-container>
                                                            </span>
                                                        </ng-container>
                                                    </span> -->
                                                    
                                                    <!-- <div class="userComment">
                                                        <ng-container *ngIf="item.comments.length !=0">
                                                               <ng-container *ngFor="let comment of item.comments ; let i=index ">
                                                                    <ion-list m-b-0 class="commentAvatar">
                                                                      <ion-item p-l-0 class="commentAvatar">
                                                                        <ion-avatar item-start class="commentAvatar">
                                                                          <img src="https://lh3.googleusercontent.com/-XdUIqdMkCWA/AAAAAAAAAAI/AAAAAAAAAAA/4252rscbv5M/photo.jpg?sz=50 ">
                                                                        </ion-avatar>
                                                                       <span font-weight-5>{{comment.user.name}}</span>: <span class="commentMessage">{{comment.message}}</span>
                                                                      </ion-item>
                                                                    </ion-list>
                                                               </ng-container>
                                                        </ng-container>
                                                    </div> -->
                                                       <!-- {{item.comments}} -->
                                                    <ng-container *ngIf="item.comments">
                                                      <div class="userComment">
                                                      <ng-container *ngIf="item.comments.length !=0">
                                                         <ng-container *ngFor="let comment of item.comments| slice:0:teamCommentShow ; let i=index ">
                                                             <div class="commentBox"> <img src="{{comment.user.avatar}}" class="avatarList">
                                                              <span font-weight-5>{{comment.user.name}}</span>: <span class="commentMessage">{{comment.message}}</span>
                                                             </div>
                                                         </ng-container>
                                                          <ng-container *ngIf="item.comments.length !=1">
                                                              <div class="avatarContainer">
                                                                  <ng-container *ngFor="let comment of item.comments| slice:1:item.comments.length "> 
                                                                      <img src="{{comment.user.avatar}}" class="avatarList"> 
                                                                  </ng-container> 
                                                                  <span class="moreComments" (mouseup)=" showAllTags(item)" >+ {{item.comments.length-1}} more</span>
                                                              </div>
                                                        </ng-container> 
                                                      </ng-container>     
                                                      </div>
                                                       <div class="userComment displayAllComments hide">
                                                          <ng-container *ngIf="item.comments.length !=0">
                                                             <ng-container *ngFor="let comment of item.comments; let i=index ">
                                                                 <div class="commentBox"> <img src="{{comment.user.avatar}}" class="avatarList">
                                                                  <span font-weight-5>{{comment.user.name}}</span>: <span class="commentMessage">{{comment.message}}</span>
                                                                 </div>
                                                             </ng-container>
                                                            <!--   <ng-container *ngIf="item.comments.length !=1">
                                                                  <div class="avatarContainer">
                                                                      <ng-container *ngFor="let comment of item.comments| slice:1:item.comments.length "> 
                                                                          <img src="https://lh3.googleusercontent.com/-XdUIqdMkCWA/AAAAAAAAAAI/AAAAAAAAAAA/4252rscbv5M/photo.jpg?sz=50 " class="avatarList"> 
                                                                      </ng-container> 
                                                                      <span class="moreComments">+ {{item.comments.length-1}} more</span>
                                                                  </div>
                                                            </ng-container>  -->
                                                               <div class="lessComments viewLessButton" (mouseup)=" showAllTags(item)" style="text-align: center;"> 
                                                                <ion-icon  name="ios-arrow-up-outline"></ion-icon> <br>
                                                               view less</div>
                                                          </ng-container> 
                                                      </div>
                                                    </ng-container>
                                                </div> 
                                                <div class="replyBlock">
                                                  <span class="innerLeaveContainer">
                                                     <ion-icon ios="ios-close" md="md-close" class="icon-size full" style="float: right; cursor: pointer;"></ion-icon>
                                                     <ion-icon ios="ios-create" md="md-create" class="icon-size full" style="float: right; cursor: pointer;" p-r-10 p-l-10 ></ion-icon><!-- (click)="editLeave(item)" -->
                                                    <ion-icon ios="ios-undo" md="ios-undo-outline"  class="icon-size full commentAdded" style="float: right; cursor: pointer;" (mouseup)="addComment(item)"></ion-icon> 
                                                  </span>
                                                </div>
                                                <div p-t-20 class="addComment hide">
                                                  <span>
                                                      <ion-icon ios="ios-close" md="md-close" class="icon-size full cancelComment" style="float: left; cursor: pointer;"  (mouseup)="cancelComment()"></ion-icon>
                                                      <span style="margin-left: 10px;"> 
                                                        <input id="cmtBtn" (keydown)="commentEnter($event)" type="text" name="" placeholder="Reply" style="min-width: 80%;border: none;" [ngModel]="commentNote" (keyup)="commentnote($event.target.value)">
                                                        <!-- <button style="border:none;background-color: transparent; width: 0;" disabled > -->
                                                        <ion-icon ios="ios-paper-plane" md="ios-paper-plane-outline" class="icon-size full" style="float: right;" (click)="teamComment()"></ion-icon>
                                                        <hr style="margin-top: 2px;margin-left:20px;"><!-- </button>  -->
                                                      </span>
                                                  </span>
                                                </div>

                                            </div>
                                        </ng-container>
                                       
                                        <!-- <ng-container > -->
                                        <ng-container  *ngIf="userLeaveData.data.leaves.length !=0">
                                            <ng-container  *ngIf="userLeaveData.data.leaves.length > 2">
                                                <div *ngIf=" leaveShow >= userLeaveData.data.leaves.length " (click)=" leaveShow = 2" (click)="testLeave(leaveShow)" align="center" class="text-center" id="showMore" style="cursor: pointer;" >
                                                <p id="text-change">
                                                    <span id="arrow"> 
                                                        <ion-icon  name="ios-arrow-up-outline" class="icon-size full"></ion-icon> 
                                                    </span>
                                                    <br>
                                                    <span id="innertxt">
                                                        View Less
                                                    </span>
                                                </p>
                                            </div>
                                            <div *ngIf=" leaveShow < userLeaveData.data.leaves.length " (click)=" leaveShow = leaveShow + 2 " (click)="testLeave(leaveShow)" align="center" class="text-center" id="showMore" style="cursor: pointer;" >
                                                    <p id="text-change">
                                                        <span id="innertxt">
                                                            View More</span><br>
                                                        <span id="arrow">
                                                            <ion-icon  name="ios-arrow-down-outline" class="icon-size full"></ion-icon> 
                                                        </span>
                                                    </p>
                                            </div>
                                             </ng-container>
                                        </ng-container>


                                         </ng-container>
                                    </ion-col>
                                         <!-- </ng-container> -->
                                    </ion-row>
                                  </div>
                                </ion-grid>
                                <ion-grid>
                                    <ion-row>
                                        <ion-col col-12  col-md-12 col-lg-12 >
                                            <h5 font-weight-5 class="teamTogglecontainer">Team leaves <span *ngIf="teamLeaveData != undefined && teamLeaveData.data.leaves.length != 0" class="countLeaves">{{teamLeaveCount}}</span> <span style="float: right;cursor: pointer;display:none;" id="teamLeaveToggle" (mouseup)="teamtoggle()"><!-- <ion-icon ios="ios-remove-circle" md="md-remove-circle"></ion-icon> --> <span class="toggletxt">view less</span></span>  <span style="float: right;cursor: pointer;" id="teamLeaveToggle1" (mouseup)="teamtoggle()"><!--  <ion-icon ios="ios-add-circle" md="md-add-circle"></ion-icon> --> <span class="toggletxt1">view more</span></span> </h5>
                                        </ion-col>
                                    </ion-row>
                                    <div class="teamLeaveToggleBox" style="display:none;">
                                    <ion-row>
                                        <ion-col col-12  col-md-12 col-lg-12 >
                                            <div class="select">
                                                <span class="arr"></span>
                                                <select (change)="LeaveType($event)" >
                                                  <option [attr.value]="n">Upcoming</option>
                                                  <option [attr.value]="n">All</option>
                                                </select>
                                            </div>
                                        </ion-col>
                                    </ion-row>
                                    <ion-row>
                                      <ion-col col-12  col-md-12 col-lg-12 >
                                        <ng-container  *ngIf="teamLeaveData != undefined">
                                          <ng-container  *ngIf="teamLeaveData.data.leaves.length == 0">
                                            <div font-weight-5 style="text-align: center;"> No Leaves Found</div>
                                          </ng-container>
                                          <ng-container *ngFor="let item of teamLeaveData.data.leaves | slice:0:teamLeaveShow;let leaveIndex =index ">
                                            <div class="leaveViewBlock">
                                                <div class="TeamUserName"> 
                                                    <!-- ++++++++++++++++++++++++++++++++++ -->

                                                    <!-- <img src="https://lh3.googleusercontent.com/-XdUIqdMkCWA/AAAAAAAAAAI/AAAAAAAAAAA/4252rscbv5M/photo.jpg?sz=50 " class="avatar">
                                                        
                                                     <span font-weight-5>{{item.user.name}} :</span>
                                                    
                                                      <span class="noteCon">{{item.leave_note}} for <span font-weight-5> {{item.leave_date.length}} Days </span> on
                                                          <ng-container *ngFor="let dates of item.leave_date ; let i=index ">
                                                              <ng-container *ngIf="i == item.leave_date.length- 1 && item.leave_date.length !=1 ">and</ng-container>
                                                              <span font-weight-5> {{getDayDate(dates,5)}} </span>
                                                              <ng-container *ngIf="i < item.leave_date.length- 2">,</ng-container>
                                                          </ng-container>
                                                      </span> -->
                                                      <!-- ++++++++++++++++++++++++++++++++++++++ -->
                                                    <table class="noBorder">
                                                        <tr class="noBorder">
                                                            <td class="noBorder" style="min-width:40px;">
                                                                <img src="{{item.user.avatar}}" class="avatar">
                                                            </td>
                                                            <td class="noBorder datablock">
                                                             <span font-weight-5>{{item.user.name}} :</span>
                                                            
                                                              <span class="noteCon">{{item.leave_note}} for <span font-weight-5> {{item.leave_date.length}} Days </span> on
                                                                  <ng-container *ngFor="let dates of item.leave_date ; let i=index ">
                                                                      <ng-container *ngIf="i == item.leave_date.length- 1 && item.leave_date.length !=1 ">and</ng-container>
                                                                      <span font-weight-5> {{getDayDate(dates,5)}} </span>
                                                                      <ng-container *ngIf="i < item.leave_date.length- 2">,</ng-container>
                                                                  </ng-container>
                                                              </span>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                                <div class="innerContainer">
                                                     <!-- <div class="leaveNote">  -->
                                                <!-- I'm Going on a leave for 3 days from June 6th to June 8th -->
                                                     <!--   {{item.leave_note}} for {{item.leave_date.length}} Days on
                                                      <ng-container *ngFor="let dates of item.leave_date ; let i=index ">
                                                          <ng-container *ngIf="i == item.leave_date.length- 1 && item.leave_date.length !=1 ">and</ng-container>
                                                          <span font-weight-5> {{getDayDate(dates,5)}} </span>
                                                          <ng-container *ngIf="i < item.leave_date.length- 2">,</ng-container>
                                                      </ng-container> -->
                                                    <!-- </div> -->
                                                    <span class="taggedUsers">
                                                        <ng-container *ngIf="item.tagged_users.length ==1">
                                                            <sub><ion-icon name="pricetag" style="color:orange;font-size: 16px;"></ion-icon></sub>
                                                        </ng-container>
                                                        <ng-container *ngIf="item.tagged_users.length !=1">
                                                            <sub><ion-icon name="pricetags" style="color:orange;font-size: 16px;"></ion-icon></sub>
                                                        </ng-container>
                                                         <ng-container *ngIf="item.tagged_users.length ==1">
                                                             <ng-container *ngFor="let tag of item.tagged_users ; let i=index ">
                                                                  @{{tag.name}}  
                                                             </ng-container>
                                                        </ng-container>
                                                        <ng-container *ngIf="item.tagged_users.length !=1">
                                                            <span class="">
                                                                 <ng-container *ngFor="let tag of item.tagged_users | slice:0:show; let i=index ">
                                                                      @{{tag.name}}  <ng-container *ngIf="i != show- 1 && i != item.tagged_users.length- 1" >,</ng-container>
                                                                 </ng-container>
                                                            </span>
                                                             <span class=""  *ngIf=" show < item.tagged_users.length " (mouseup)="showAllTags(item.tagged_users)" > 
                                                               <!--  <span class="selectTag">
                                                                    <select class="tagselect">
                                                                        <option  disabled>+ {{item.tagged_users.length-show}} Others</option>
                                                                        <option *ngFor="let option of item.tagged_users " disabled>{{option.name}}</option>
                                                                    </select> 
                                                                </span> -->

                                                                <div class="dropdownTags">
                                                                  <span class="dropbtn">+ {{item.tagged_users.length-show}} Others</span>
                                                                  <div class="dropdownTags-content" >
                                                                    <a *ngFor="let option of item.tagged_users| slice:show:item.tagged_users.length">{{option.name}}</a>

                                                                  </div>
                                                                </div>
                                                             </span>
                                                        </ng-container>
                                                    </span>
                                                    
                                                     <!-- <span class="taggedUsers displayTagedUsers hide">
                                                        <ng-container *ngIf="item.tagged_users.length ==1">
                                                            <sub><ion-icon name="pricetag" style="color:orange;font-size: 16px;"></ion-icon></sub>
                                                        </ng-container>
                                                        <ng-container *ngIf="item.tagged_users.length !=1">
                                                            <sub><ion-icon name="pricetags" style="color:orange;font-size: 16px;"></ion-icon></sub>
                                                        </ng-container>
                                                         <ng-container *ngIf="item.tagged_users.length ==1">
                                                             <ng-container *ngFor="let tag of item.tagged_users ; let i=index ">
                                                                  @{{tag.name}}  
                                                             </ng-container>
                                                        </ng-container>
                                                        <ng-container *ngIf="item.tagged_users.length !=1">
                                                            <span >
                                                                 <ng-container *ngFor="let tag of item.tagged_users  let i=index ">
                                                                      @{{tag.name}}  <ng-container *ngIf="i != item.tagged_users.length- 1 && i != item.tagged_users.length- 1" >,</ng-container>
                                                                 </ng-container>
                                                            </span>
                                                        </ng-container>
                                                    </span> -->
                                                    <ng-container *ngIf="item.comments">
                                                      <div class="userComment">
                                                         <!--  <ng-container *ngIf="item.comments.length !=0">
                                                                 <ng-container *ngFor="let comment of item.comments ; let i=index ">
                                                                      <ion-list m-b-0 class="commentAvatar">
                                                                        <ion-item p-l-0 class="commentAvatar">
                                                                          <ion-avatar item-start class="commentAvatar">
                                                                            <img src="https://lh3.googleusercontent.com/-XdUIqdMkCWA/AAAAAAAAAAI/AAAAAAAAAAA/4252rscbv5M/photo.jpg?sz=50 ">
                                                                          </ion-avatar>
                                                                         <span font-weight-5>{{comment.user.name}}</span>: <span class="commentMessage">{{comment.message}}</span>
                                                                        </ion-item>
                                                                      </ion-list>
                                                                 </ng-container>
                                                          </ng-container> -->
                                                          <ng-container *ngIf="item.comments.length !=0">
                                                             <ng-container *ngFor="let comment of item.comments| slice:0:teamCommentShow ; let i=index ">
                                                                 <div class="commentBox"> <img src="{{comment.user.avatar}} " class="avatarList">
                                                                  <span font-weight-5>{{comment.user.name}}</span>: <span class="commentMessage">{{comment.message}}</span>
                                                                 </div>
                                                             </ng-container>
                                                              <ng-container *ngIf="item.comments.length !=1">
                                                                  <div class="avatarContainer">
                                                                      <ng-container *ngFor="let comment of item.comments| slice:1:item.comments.length "> 
                                                                          <img src="{{comment.user.avatar}} " class="avatarList"> 
                                                                      </ng-container> 
                                                                      <span class="moreComments" (mouseup)=" showAllTags(item)" >+ {{item.comments.length-1}} more</span>
                                                                  </div>
                                                            </ng-container> 
                                                          </ng-container>     

                                                      </div>
                                                       <div class="userComment displayAllComments hide">
                                                          <ng-container *ngIf="item.comments.length !=0">
                                                             <ng-container *ngFor="let comment of item.comments; let i=index ">
                                                                 <div class="commentBox"> <img src="{{comment.user.avatar}} " class="avatarList">
                                                                  <span font-weight-5>{{comment.user.name}}</span>: <span class="commentMessage">{{comment.message}}</span>
                                                                 </div>
                                                             </ng-container>
                                                            <!--   <ng-container *ngIf="item.comments.length !=1">
                                                                  <div class="avatarContainer">
                                                                      <ng-container *ngFor="let comment of item.comments| slice:1:item.comments.length "> 
                                                                          <img src="https://lh3.googleusercontent.com/-XdUIqdMkCWA/AAAAAAAAAAI/AAAAAAAAAAA/4252rscbv5M/photo.jpg?sz=50 " class="avatarList"> 
                                                                      </ng-container> 
                                                                      <span class="moreComments">+ {{item.comments.length-1}} more</span>
                                                                  </div>
                                                            </ng-container>  -->
                                                               <div class="lessComments viewLessButton" (mouseup)=" showAllTags(item)" style="text-align: center;"> 
                                                                <ion-icon  name="ios-arrow-up-outline"></ion-icon> <br>

                                                               view less</div>

                                                          </ng-container> 
                                                      </div>
                                                  </ng-container>
                                                </div>
                                                <div class="replyBlock">
                                                  <span class="innerLeaveContainer">
                                                     <ion-icon ios="ios-close" md="md-close" class="icon-size full" style="float: right; cursor: pointer;"></ion-icon>
                                                     <ion-icon ios="ios-create" md="md-create" class="icon-size full" style="float: right; cursor: pointer;" p-r-10 p-l-10 ></ion-icon><!-- (click)="editLeave(item)" -->
                                                    <ion-icon ios="ios-undo" md="ios-undo-outline"  class="icon-size full commentAdded" style="float: right; cursor: pointer;" (mouseup)="addComment(item)"></ion-icon> 
                                                  </span>
                                                </div>
                                                <div p-t-20 class="addComment hide">
                                                  <span>
                                                      <ion-icon ios="ios-close" md="md-close" class="icon-size full cancelComment" style="float: left; cursor: pointer;"  (mouseup)="cancelComment()"></ion-icon>
                                                      <span style="margin-left: 10px;"> 
                                                        <input type="text" name="" placeholder="Reply" style="min-width: 80%;border: none;" [ngModel]="commentNote" (keyup)="commentnote($event.target.value)">
                                                        <!-- <button style="border:none;background-color: transparent; width: 0;" disabled > -->
                                                        <ion-icon ios="ios-paper-plane" md="ios-paper-plane-outline" class="icon-size full" style="float: right;" (click)="comment()"></ion-icon>
                                                        <hr style="margin-top: 2px;margin-left:20px;"><!-- </button>  -->
                                                      </span>
                                                  </span>
                                                </div>
                                            </div>
                                        </ng-container>

                                        <ng-container  *ngIf="teamLeaveData.data.leaves.length !=0">
                                          <ng-container  *ngIf="teamLeaveData.data.leaves.length > 2">
                                                <div *ngIf=" teamLeaveShow >= teamLeaveData.data.leaves.length " (click)=" teamLeaveShow = 2" (click)="testLeave(teamLeaveShow)" align="center" class="text-center" id="showMore1" style="cursor: pointer;" >
                                                  <p id="text-change1">
                                                      <span id="arrow1"> 
                                                          <ion-icon  name="ios-arrow-up-outline" class="icon-size full"></ion-icon> 
                                                      </span>
                                                      <br>
                                                      <span id="innertxt">
                                                          View Less
                                                      </span>
                                                  </p>
                                                </div>
                                                <div *ngIf=" teamLeaveShow < teamLeaveData.data.leaves.length " (click)=" teamLeaveShow = teamLeaveShow + 2 " (click)="testLeave(teamLeaveShow)" align="center" class="text-center" id="showMore1" style="cursor: pointer;" >
                                                  <p id="text-change1">
                                                      <span id="innertxt1">
                                                          View More</span><br>
                                                      <span id="arrow1">
                                                          <ion-icon  name="ios-arrow-down-outline" class="icon-size full"></ion-icon> 
                                                      </span>
                                                  </p>
                                                </div>
                                          </ng-container>
                                        </ng-container>
                                      </ng-container>
                                    </ion-col>
                                  </ion-row>
                                </div>

                              </ion-grid>   
                            </div>
                        </div>
                    <!-- </ion-col> -->
                  
                    <!-- <div text-center m-t-20><button ion-button >Style Guide</button></div> -->

                    <div padding *ngIf = "view_log_history_btn && summaryContentData && sideBarData">
                       <h5> {{ "changed_logs" | translate }} </h5>
                        <hr>

                        <div *ngFor = "let item of changedLogs">
                            <ul style="list-style: none;">
                               <li>{{ "modified" | translate }} {{item.name | translate}}  {{ "from" | translate}} : 
                                    <strong *ngIf = "item.name == 'start_time' || item.name == 'end_time' "> 
                                        <span *ngIf = "item.from != null"> {{getDayDate(item.from,3)}} </span> 
                                        <span *ngIf = "item.from == null"> 00:00 </span>  {{ "to" | translate}} 
                                        <span *ngIf = "item.to != null">{{getDayDate(item.to,3)}}</span>
                                        <span *ngIf = "item.to == null"> 00:00 </span> 
                                    </strong> 

                                    <strong *ngIf = "item.name == 'status' "> 
                                        <span > {{item.from | translate}} </span> {{ "to" | translate}} 
                                        <span > {{item.to | translate}} </span> 
                                    </strong> 

                                    <strong *ngIf = "item.name == 'total_time' "> 
                                        <span *ngIf = "item.from != null"> {{getDayDate(item.from,4)}} </span> 
                                        <span *ngIf = "item.from == null"> 00:00 </span> {{ "to" | translate}} 
                                        <span *ngIf = "item.to != null">{{getDayDate(item.to,4)}}</span>
                                        <span *ngIf = "item.to == null"> 00:00 </span> 
                                    </strong> 
                                </li>
                                <div style="color: grey;">
                                   <li>{{ "on" | translate}}  {{getDayDate(item.modified_on,1) | translate}} {{ "at" | translate}}  {{getDayDate(item.modified_on,2)}}</li>
                                   <li *ngIf = "!item.modified_by_self">{{ "by" | translate}}  {{item.modified_by}}</li>
                                </div>
                           </ul>
                           <hr style="border: 0.1px dashed; color: grey">
                        </div>
                        
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>

    </div>
</ion-content>

<!-- Body Ends -->


<ion-footer>
 <footer-element></footer-element>
</ion-footer>