// ---------------------------
// CUSTOM CSS FOR THIS PAGE -----------
// ---------------------------
page-start-home {

    .leaveContainer{
        padding-left: 20px;
        padding-bottom: 20px;
        padding-right: 20px;
    }
    .leaveButton{
        float: right;
    }
    .dropdownLeaves{
        width: 100%;
    }
    .leaveViewBlock{
        padding-bottom: 20px;
        padding-top: 10px; 
        padding-left: 10px;
        width: 100%;
        border-bottom: 1px dashed #828282;
        /*height: 200px;*/
        /*border: 1px solid black;*/
        /*overflow-y: scroll;*/
    }
    .leaveNote{
        /*padding-top: 10px;*/
        padding-bottom: 10px;

    }
    .taggedUsers{
        padding-top: 10px;
        color: rgb(130, 130, 130);
    }
    .userComment{
        padding-top: 10px;
    }


    .select {
        width: 100%;
  font-size: 16px;
  position: relative;
  display: inline-block;
}
.select select {
  outline: none;
  width: 100%;
  -webkit-appearance: none;
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  /*padding: 1.2em 3em 1.3em 1.5em;*/
  margin: 0;

  transition: border-color 0.2s;
  /*border: 5px solid #EB5168;*/
  /*border-radius: 5px;*/

  background: #fff;
  color: #555;
  line-height: normal;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
.select .arr {
  background: #fff;
  bottom: 5px;
  position: absolute;
  right: 5px;
  top: 5px;
  width: 50px;
  pointer-events: none;
}
.select .arr:before {
  content: '';
  position: absolute;
  top: 50%;
  right: 24px;
  margin-top: -5px;
  pointer-events: none;
  border-top: 10px solid rgb(130, 130, 130);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.select .arr:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 28px;
  margin-top: -5px;
  pointer-events: none;
  border-top: 6px solid #fff;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
}
.hide{
    display: none;
}
.innerContainer{
    padding-left: 40px;
    padding-top: 10px;
}
.avatar {
    vertical-align: middle;
    width: 40px;
    height:40px;
    border-radius: 50%;
}
.avatarList {
    vertical-align: middle;
    width: 30px;
    height:30px;
    border-radius: 50%;
    margin-left:-15px;
    border :2px solid white;
}
.avatarList:first-child {
    margin-left:0px;
} 
.commentBox{
  padding-bottom: 5px;
}
.replyBlock{
  padding-bottom: 10px;

}
.noBorder{
  border: none;
}
.datablock{
  padding-left: 5px;
}
.tagselect{
  border:none;
}
.selectTag select{
   -webkit-appearance: none;
}
.selectTag option{
 border: none !important;

}
/*dropdown tags*/
.dropdownTags {
    position: relative;
    display: inline-block;
}

.dropdownTags-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    max-height: 300px;
    overflow-y: scroll;
}

.dropdownTags-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdownTags-content a:hover {background-color: #ddd}

.dropdownTags:hover .dropdownTags-content {
    display: block;
}
.viewLessButton{
  
}

.dropdownTags-content::-webkit-scrollbar {
    width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.innerLeaveContainer{
  font-size: 14px;
}
.countLeaves{
  border-radius: 50%;
  width: 50px;
  font-size: 12px;
  padding-left: 7px;
  padding-right: 7px;
  padding-bottom: 2px;
  padding-top: 2px;
  background-color: #fa5777;
  color:white;
}
.toggletxt{
  /*border: 1px solid white;*/
  padding: 5px;
  color: white;
  background-color: #613eb0;
  border-radius: 15px;
  font-size: 12px;
}
.toggletxt1{
  border: 1px solid #613eb0;
  padding: 5px;
  color: #613eb0;
  border-radius: 15px;
  font-size: 12px;

}
.teamTogglecontainer{

}

}

// ---------------------------
// GLOBAL ONE'S -----------
// ---------------------------
// Heading title
.section-title {
    display: flex;
    align-items: center;
    font-size: 1.1em;
}

// Dashboard columns
.dashboard {
    &__summary {
        @media screen and (min-width: 769px){
            box-shadow: $shadow-1;    
        }
    }
}

@media screen and (min-width: 920px) and (max-width: 1400px) {
    .dashboard__summary{
        flex: 0 0 75%;
        width: 75%;
        max-width: 75%;
    }
    .dashboard__leaves{
        flex: 0 0 25%;
        width: 25%;
        max-width: 25%;
    }
}



// main title heading
.main-title {
    font-size: 1.25em;
}

// Summary section
.summary {
    display: flex;
    height: 100%;
    &__sidebar {
        flex: 1;
        box-shadow: $shadow-2;
    }
    &__content {
        flex: 1.7;
        @media screen and (min-width: 1400px) {
            flex: 2;
        }
        @media screen and (min-width: 1601px) {
            flex: 2.3;
        }
    }
}


@media screen and (min-width: 1280px) and (max-width: 1400px) {
    .summary__sidebar{
        flex: 0.8;
    }     
}

@media screen and (max-width: 600px) {
    .section-title {
        margin: -8px 0;
        padding-left: 1em;
    }
    .page-title {
        font-size: 1.2em;
    }
    ion-app.app-root .dashboard {
        margin: 0 -20px;
        width: calc(100% + 40px); //Full width div
        padding: 5px;
    }
    .summary {
        flex-direction: column;
     
        &__content {
            /*position: fixed;*/
            width: 100%;
            height: 100%;
            background-color: #fff;
            left: 0;
            top: 0;
            /*z-index: 9;*/
            transition: all 0.5s cubic-bezier(0.44, -0.25, 0.75, 1);
    }
       &__sidebar{

            /*position: fixed;*/
            width: 100%;
            height: 100%;

            .week{
                padding: 20px;
                position: fixed;
                background-color: #fff;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                z-index: 9;
                transition: all 0.5s cubic-bezier(0.44, -0.25, 0.75, 1);
                transform: translateY(100%); 

                }
                .mobileview1{
                position: fixed;
                background-color: #fff;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                z-index: 9;
                transition: all 0.5s cubic-bezier(0.44, -0.25, 0.75, 1);
                transform: translateY(0%);
                overflow-y: scroll;
                padding-bottom: 20px;
                }
       
        }

    }
    .timeline-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 -20px;
        padding: 0 20px;
        box-shadow: 0px 1px 16px 0px rgba(0, 0, 0, 0.13);
        border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    }
    .xl-no-show {
        display: none;
    }
}

@media screen and (max-width: 960px) {
    ion-app.app-root .dashboard {
        padding: 0;
    }
}


@media screen and (max-width: $mobile){
    .dashboard__summary{
        .summary{
            // padding: 0 1.5em;
        }    
    }
}


// Common flexbox call
.flex-row {
    display: flex;
    align-items: center;
}

// Custom icon
.custom-icon {
    display: inline-block;
    height: 28px;
    width: 24px;
    background-image: url('../assets/img/sprite.png');
    background-repeat: no-repeat;
    background-size: 240%;
    vertical-align: middle;
    &.indoor {
        background-position: -27px -96px;
    }
    &.outdoor {
        background-position: -32px -125px;
    }
    &.summary {
        width: 28px;
        background-position: -24px -55px;
        background-size: 180%;
    }
    &.flower {
        background-position: 0px 0;
        width: 26px;
        background-size: 200%;
    }
}

// View More
.view-more {
    .button {
        height: inherit;
        width: 100%;
    }
    .button-inner {
        flex-direction: column;
    }
    .icon {
        font-size: 1.6em;
    }
}




