<!-- Site header goes here -->

<ion-header>
    <logged-in-header> </logged-in-header>
</ion-header>

<!-- Site header ends -->


<!-- Body starts -->

<ion-content padding>
    <div class="container" p-h-20>

        <ion-grid class="grid dashboard" m-t-15 p-h-30>
            <ion-row class="row dashboard__row">
                <ion-col class="col mobile-hide" col-12 m-b-20>
                    <!-- Heading -->
                    <div class="section-title">
                        <i class="custom-icon summary" m-r-10></i>
                        <h5 class="page-title">My Summary</h5>
                    </div>
                </ion-col>
                <ion-col class="col dashboard__summary" col-12 col-md-12 col-lg-8 p-h-0 p-v-0>
                    <!-- Summary section -->
                    <div class="summary">
                        <!-- Summary sidebar <section></section>ion (From component-sidebar)-->
                        <summary-sidebar *ngIf="sideBarData" [test]="sideBarData" class="summary__sidebar" p-h-20 ></summary-sidebar>
                        <!-- Summary sidebar ends -->
                        <!-- Summary content -->
                        <summary-content *ngIf="sideBarData" [test]="sideBarData.data.current" [logs]="summaryContentData" class="summary__content" p-h-20 ></summary-content>
                        <!-- Summary content ends -->
                    </div>
                </ion-col>
                <ion-col class="col dashboard__leaves mobile-hide" col-12 col-md-12 col-lg-4 p-h-0 p-v-0>
                    <!-- <ion-content class="overflow-scroll" scroll="true">
                  <div class="section-title">
                  <i class="custom-icon summary" m-r-10></i><h6 class="main-title">My Summary</h6>
               </div>
               </ion-content> -->
                    <!-- <div text-center m-t-20><button ion-button (click)="openStyle()">Style Guide</button></div> -->
                </ion-col>
            </ion-row>
        </ion-grid>

    </div>
</ion-content>

<!-- Body Ends -->