<!-- Generated template for the LoggedInHeaderComponent component -->
<div class="main-header shadow-1">
    <div class="container">
        <!-- Navbar Start-->
        <ion-navbar class="dilbert-nav">
            <div class="dilbert-nav__left nav-cols">
                <div>
                <button class="ham" icon-only color="text"  ion-button="" m-h-0="" menutoggle="" clear="">
                  <ion-icon name="menu">
                  </ion-icon>
                </button>
                </div>
                <!-- <button *ngIf="header == 'loggedin' " class="mobile-hide" clear="" icon-only="" ion-button="" p-h-10="">
                    <i class="custom-icon flower">
                    </i>
                </button>
                <button *ngIf="header == 'loggedin' " class="mobile-hide" clear="" icon-only="" ion-button="" p-h-10="">
                    <i class="custom-icon summary">
                    </i>
                </button> -->
                <div>
                  <div *ngIf="header == 'loggedin' " class="brand-name" font-weight-4="" start="">
                      <p color="secondary" ion-text="" no-margin="">
                          Ajency.in
                      </p>
                  </div>
                  <div *ngIf="header == 'notloggedin' || header == 'new' " class="brand-name" font-weight-4="" start="">
                      <p color="secondary" ion-text="" no-margin="" p-h-10>
                          {{ 'DILBERT' | translate}}
                      </p>
                  </div>
                </div>
                <div class="relative lang-container">
                    <ion-select [(ngModel)]="lang" (ionChange)="setLocale()" class="select-lang mobile-hide" color="gray-link" interface="popover">
                        <ion-option selected="true" value="en">
                            English
                        </ion-option>
                        <ion-option value="fr">
                            French
                        </ion-option>
                    </ion-select>
                </div>
                  <div>{{ 'HELLO' | translate }}</div>  
            </div>
            <div class="dilbert-nav__right nav-cols">
                <!-- Notification -->
                <button (click)="navigateToLogin()" *ngIf="header == 'notloggedin' " class="" clear="" color="gray-link" ion-button="" text-capitalize="">
                {{ 'login' | translate}}
                    
                </button>
                <button (click)="navigateToRegister()" *ngIf="header == 'notloggedin' " class="" clear="" color="gray-link" ion-button="" text-capitalize="">
                    Register
                </button>
                <button *ngIf="header == 'new' " class="mobile-hide" clear="" color="gray-link" ion-button="" text-capitalize="">
                    Contact Us
                </button>
               <!--  <button *ngIf="header == 'loggedin' " class="notify hvr-pulse-grow mobile-hide" clear="" icon-only="" ion-button="" m-r-10="">
                    <ion-icon color="dark" name="notifications-outline">
                    </ion-icon>
                </button> -->
                <!-- User profile -->
                <button (click)="openPopover($event)" *ngIf="header == 'loggedin' " class="user-profile" clear="" icon-only="" ion-button="" p-v-20="">
                    <ion-item p-l-0="">
                        <ion-avatar item-start="" m-h-0="">
                            <img src="{{image}}"/>
                        </ion-avatar>
                        <ion-icon name="arrow-dropdown" p-l-5="" p-r-0="">
                        </ion-icon>
                    </ion-item>
                </button>
                <!-- User profile ends -->
            </div>
        </ion-navbar>
        <!-- Navbar ends -->
    </div>
</div>