<p font-weight-5 m-v-20>
    The Summary :</p>
<!-- Days details -->
<div class="day-detail flex-row" *ngIf="currentDay">
    <div class="day-detail__day detail-cols">

        <h5 m-t-0 m-b-8>{{day}}</h5>
        <span ion-text color="text-lighter">Day</span>
    </div>
    <div class="day-detail__start-time detail-cols">
        <p m-t-0 font-weight-5 m-b-10>{{currentDay.start_time}}</p>
        <span ion-text color="text-lighter">Start time</span>
    </div>
    <div class="day-detail__end-time detail-cols">
        <p m-t-0 font-weight-5 m-b-10>{{currentDay.end_time}}</p>
        <span ion-text color="text-lighter">End time</span>

    </div>
    <div class="day-detail__total-time detail-cols">
        <h5 m-t-0 m-b-8 ion-text color="primary" font-weight-5>09:05<span class="xx-small">hrs</span></h5>
        <span ion-text color="text-lighter">Total time</span>
    </div>
</div>

<!-- Detail view -->

<div class="detail-view" p-v-35>
    <ul class="detail-view__container violated-row" p-h-20 m-h-10>
        <li class="detail-view__cols violated">
            <!-- violation and chat box -->
            <div class="violated-data">
                <h6 ion-text font-weight-3 color="dark">You started your day at <h6 ion-text font-weight-4 color="danger" class="dis-inline">11:50 am</h6></h6>
                <p class="x-small message" m-v-0 ion-text color="text-lighter">We start our day between 9:30am to 11:00 am. Any reason for being late?</p>
                <div class="comment-box">
                    <div class="commentor flex-row">
                        <div class="commentor__profile">
                             <ion-icon name="contact" color="text"></ion-icon>
                        </div>
                        <div class="commentor__name">
                            <div class="flex-row space-between">
                                <p class="x-small author-name" m-v-0 ion-text color="text">Anuj Khurana <span class="xx-small" ion-text color="text-lighter">2 min ago</span></p>
                                <button class="close-box" ion-button icon-only clear color="dark">
                                    <ion-icon name="close"></ion-icon>
                                </button>
                            </div>
                            <p class="x-small" m-v-0 ion-text color="dark" font-weight-5 m-t-5>Past few days you are coming late any reason?</p>
                        </div>
                    </div>
                    <div class="commentor flex-row">
                        <div class="commentor__profile">
                             <ion-icon name="contact" color="text"></ion-icon>
                        </div>
                        <div class="commentor__name">
                            <div class="flex-row space-between">
                                <p class="x-small author-name" m-v-0 ion-text color="text">Amit Adav <span class="xx-small" ion-text color="text-lighter">10 min ago</span></p>
                                <button class="close-box" ion-button icon-only clear color="dark">
                                    <ion-icon name="close"></ion-icon>
                                </button>
                            </div>
                            <p class="x-small" m-v-0 ion-text color="dark" font-weight-5 m-t-5>Sorry personal issue will cover the remaining hours in this week</p>
                        </div>
                    </div>

                    <div class="reply">
                        <ion-input type="text" placeholder="Reply..." value="" class="reply-text"></ion-input>
                    </div>
                </div>
            </div>
            <!-- chat trigger -->
            <div class="relative">
                <button class="violated__comment" ion-button icon-only clear color="dark">
                    <ion-icon name="chatboxes"></ion-icon>
                </button>
                <span class="comment-notifier" ion-text color="danger">2</span>
            </div>
            <!-- resolved toggle -->
            <div>
                <p class="x-small" m-v-0 ion-text color="text">Not Resolved</p>
                <ion-toggle checked="false" class="resolve-toggle"></ion-toggle>
            </div>

        </li>
        <li class="detail-view__cols completed">
            <h6 ion-text font-weight-3 color="dark">You started your day at <h6 ion-text font-weight-4 color="primary" class="dis-inline">09:35 am</h6></h6>
        </li>
        <li class="detail-view__cols idle">
            <h6 ion-text font-weight-3 color="dark">Idle at 1:30pm to 2:05pm</h6>
        </li>
        <li class="detail-view__cols offline">
            <h6 ion-text font-weight-3 color="dark">Offline at 4:00pm to 4:35pm</h6>
        </li>
        <li class="detail-view__cols online">
            <h6 ion-text font-weight-3 color="dark">Online</h6>
        </li>
        <li class="detail-view__cols completed total direction-col">
            <h6 ion-text font-weight-3 color="dark">You ended your day at <h6 ion-text font-weight-4 color="primary" class="dis-inline">06:35 am</h6></h6>
            <p class="x-small message" m-v-0 ion-text color="text-lighter"><ion-icon name="time"></ion-icon> You completed 8 hours today</p>
        </li>
    </ul>
</div>