<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- Site header goes here -->
<ion-header>
    <logged-in-header> </logged-in-header>
</ion-header>

<!-- <ion-header>
    <logged-in-header> </logged-in-header>
</ion-header> -->

<!-- Site header ends -->


<!-- Body starts -->

<ion-content padding>
    <div class="container" p-h-20>
		

		<div class="login-card" text-center>
			<ion-card>
			  <img src="./../../assets/img/dilbert.jpg" width="80">
			  <ion-card-content>
			    <ion-card-title>
			      <h2 ion-text text-uppercase class="login-card__title" m-b-8>Dilbert</h2>
			      <p ion-text color="text-lighter" font-weight-4>Track Time. Record Work</p>
			     </ion-card-title>
			     <hr>
			    <h5  class="login-card__title2" m-t-15>Have an existing account?</h5>

			    <p ion-text color="text-lighter" font-weight-4 m-t-5>Sign in and continue where you left off</p>

			    <button ion-button color="danger-dark" m-t-15 class="sign-in" (click) = "signin()"> <ion-icon name="logo-googleplus" p-r-10></ion-icon> Sign in with Google</button>

			    <h5  *ngIf = "domainError" class="login-card__title2" m-t-15>Domain does not exist</h5>
			  </ion-card-content>
			</ion-card>

			<div ion-text p-t-20 m-b-0 class="sign-text">Haven't connected to Dilbert yet?</div>
			<button ion-button color="primary" clear class="sign-up" (click)="navigateToRegister()" >Sign up!</button>
		</div>

   
       

    </div>
</ion-content>

<!-- Body Ends -->

<!-- loader code -->

<div *ngIf = "showLoader == true " class="site-loader">
  <svg height="120" width="120">
    <line class="pointer" x1="60" y1="60" x2="60" y2="50" />
    <circle class="circle" cx="60" cy="60" r="15" />
    <circle class="center" cx="60" cy="60" r="2.5" />
  </svg>
</div>

<!-- loader ends -->













