user-summary-sidebar {
    .mydp{
    border : none;
    .btnclear{
        display : none;
    } 
    .selection{
            color: rgba(85, 85, 85, 0);
        background: rgba(255, 255, 255, 0);
    pointer-events: none;
        
    }

    .btnpicker, .selectiongroup{
        background: rgba(255, 255, 255, 0);
    }
}
}


.dataitem{
	text-decoration:none;
	cursor:pointer;
}
.selecteddataitem{
	background-color:#f2f2f2;
}
.btnclicked1{
	display:none;
}

