<!-- Generated template for the UserSummarySidebarComponent component -->

<div >
	<ion-icon p-l-10 name="search" class="icon-size full" ion-txt class="text text-md text-md-text-lighter"></ion-icon><input type="search" name="" style="border: 0px; padding: 10px; padding-bottom: 10px; width: 90%;" placeholder="Filter By Name" id="searchemployee"  (keyup)="searchByName()">

	<div style="background-color: #eeeeee4d;">
		<ion-grid style="padding: 0 !important">
		  <ion-row>
		    <ion-col col-6 p-t-15 p-l-15 >
		    	This week
		    </ion-col >
		    <ion-col col-6 p-r-10>
		    	 <div class="flex" style="float: right">
		    	<my-date-picker  (dateChanged)="requestData1($event)"  [options]="myDatePickerOptions" [(ngModel)]="model" >
				</my-date-picker>
			</div>
		    </ion-col>
		  </ion-row>
		</ion-grid>
	</div>	
	

	<ion-list no-lines id="datalist">
		
	 <a class="dataitem" id="test1">

	   <ion-item class="btnclicked selecteddataitem">
	    <ion-avatar item-start>
	      <img src="../assets/img/img1.jpg">
	    </ion-avatar>
	    <h2>Ajaj Rajguru</h2>
	    <span ion-text="" class="text text-md text-md-success">Online</span>
	    <span clear item-end>  <h3>43:04<span>hr &nbsp;&nbsp;</span> <ion-icon ion-text color="" name="ios-arrow-forward-outline" class="text text-md text-md-text-lighter icon-size mini "></ion-icon></h3> </span>
	  </ion-item>
	</a>

	   <a class="dataitem">
	   <ion-item class="btnclicked ">
	    <ion-avatar item-start>
	      <img src="../assets/img/img2.jpg">
	    </ion-avatar>
	    <h2>Amit Adav</h2>
	    <span ion-text="" class="text text-md text-md-success">Online</span>
	    <span clear item-end>  <h3>43:04<span>hr &nbsp;&nbsp;</span> <ion-icon ion-text color="" name="ios-arrow-forward-outline" class="text text-md text-md-text-lighter icon-size mini "></ion-icon></h3> </span>
	  </ion-item>
	</a>

	   <a class="dataitem">
	   <ion-item class="btnclicked ">
	    <ion-avatar item-start>
	      <img src="../assets/img/128X128.png">
	    </ion-avatar>
	    <h2>Antonio Furtado</h2>
	    <span ion-text="" class="text text-md text-md-success">Online</span>
	    <span clear item-end>  <h3>43:04<span>hr &nbsp;&nbsp;</span> <ion-icon ion-text color="" name="ios-arrow-forward-outline" class="text text-md text-md-text-lighter icon-size mini "></ion-icon></h3> </span>
	  </ion-item>
	</a>

	 <a class="dataitem">
	   <ion-item class="btnclicked ">
	    <ion-avatar item-start>
	      <img src="../assets/img/128X128.png">
	    </ion-avatar>
	    <h2>Anuj Khurana</h2>
	    <span ion-text="" class="text text-md text-md-success">Online</span>
	    <span clear item-end>  <h3>43:04<span>hr &nbsp;&nbsp;</span> <ion-icon ion-text color="" name="ios-arrow-forward-outline" class="text text-md text-md-text-lighter icon-size mini "></ion-icon></h3> </span>
	  </ion-item>
	</a>
	<a class="dataitem">
	   <ion-item class="btnclicked ">
	    <ion-avatar item-start>
	      <img src="../assets/img/128X128.png">
	    </ion-avatar>
	    <h2>Ashika Pednekar</h2>
	    <span ion-text="" class="text text-md text-md-success">Online</span>
	    <span clear item-end>  <h3>43:04<span>hr &nbsp;&nbsp;</span> <ion-icon ion-text color="" name="ios-arrow-forward-outline" class="text text-md text-md-text-lighter icon-size mini "></ion-icon></h3> </span>
	  </ion-item>
	</a>
	  <a class="dataitem">
	   <ion-item class="btnclicked ">
	    <ion-avatar item-start>
	      <img src="../assets/img/128X128.png">
	    </ion-avatar>
	    <h2>Cryrus Furtado</h2>
	    <span ion-text="" class="text text-md text-md-danger">Offline</span>
	    <span clear item-end>  <h3>43:04<span>hr &nbsp;&nbsp;</span> <ion-icon ion-text color="" name="ios-arrow-forward-outline" class="text text-md text-md-text-lighter icon-size mini "></ion-icon></h3> </span>
	  </ion-item>
	</a>
	<a class="dataitem dbt hidden">
	   <ion-item class="btnclicked ">
	    <ion-avatar item-start>
	      <img src="../assets/img/128X128.png">
	    </ion-avatar>
	    <h2>Ashika Pednekar 2</h2>
	    <span ion-text="" class="text text-md text-md-success">Online</span>
	    <span clear item-end>  <h3>43:04<span>hr &nbsp;&nbsp;</span> <ion-icon ion-text color="" name="ios-arrow-forward-outline" class="text text-md text-md-text-lighter icon-size mini "></ion-icon></h3> </span>
	  </ion-item>
	</a>
	<a class="dataitem dbt hidden">
	   <ion-item class="btnclicked ">
	    <ion-avatar item-start>
	      <img src="../assets/img/128X128.png">
	    </ion-avatar>
	    <h2>Ashika Pednekar 3</h2>
	    <span ion-text="" class="text text-md text-md-success">Online</span>
	    <span clear item-end>  <h3>43:04<span>hr &nbsp;&nbsp;</span> <ion-icon ion-text color="" name="ios-arrow-forward-outline" class="text text-md text-md-text-lighter icon-size mini "></ion-icon></h3> </span>
	  </ion-item>
	</a>
	<a class="dataitem dbt hidden">
	   <ion-item class="btnclicked ">
	    <ion-avatar item-start>
	      <img src="../assets/img/128X128.png">
	    </ion-avatar>
	    <h2>Ashika Pednekar 4</h2>
	    <span ion-text="" class="text text-md text-md-success">Online</span>
	    <span clear item-end>  <h3>43:04<span>hr &nbsp;&nbsp;</span> <ion-icon ion-text color="" name="ios-arrow-forward-outline" class="text text-md text-md-text-lighter icon-size mini "></ion-icon></h3> </span>
	  </ion-item>
	</a>
	<a class="dataitem dbt hidden">
	   <ion-item class="btnclicked ">
	    <ion-avatar item-start>
	      <img src="../assets/img/128X128.png">
	    </ion-avatar>
	    <h2>Ashika Pednekar 5</h2>
	    <span ion-text="" class="text text-md text-md-success">Online</span>
	    <span clear item-end>  <h3>43:04<span>hr &nbsp;&nbsp;</span> <ion-icon ion-text color="" name="ios-arrow-forward-outline" class="text text-md text-md-text-lighter icon-size mini "></ion-icon></h3> </span>
	  </ion-item>
	</a>

	</ion-list>

	<div align="center" class="text-center" id="showMore" style="cursor: pointer;" (click)="showmore()">
		<p id="text-change"><span id="innertxt">View More</span><br><span id="arrow"> <ion-icon  name="ios-arrow-down-outline" class="icon-size full"></ion-icon> </span></p>
	</div>

</div>
