<!-- Generated template for the UserSummarySidebarComponent component -->
<!-- <div>
  {{text}}
  <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
</div> -->

<!-- <div class="week">
   
    <div class="week__current current-card">
  		<ion-searchbar></ion-searchbar>
    </div>
</div> -->
<div >
	<ion-icon p-l-10 name="search" class="icon-size full" ion-txt class="text text-md text-md-text-lighter"></ion-icon><input type="search" name="" style="border: 0px; padding: 10px; padding-bottom: 10px;" placeholder="Filter By Name" id="searchemployee" >
	<div p-t-10 p-b-10 p-l-10 p-r-10 style="background-color: #eeeeee4d;"> This week <span style="float: right;"><ion-icon name="calendar" class="icon-size full "></ion-icon></span>
	</div>


	<ion-list no-lines>
		
	   <a class="dataitem" >
	   <ion-item class="btnclicked" style="background-color: #f2f2f2;">
	    <ion-avatar item-start>
	      <img src="../assets/img/128X128.png">
	    </ion-avatar>
	    <h2>Ajaj Rajguru</h2>
	    <span ion-text="" class="text text-md text-md-success">Online</span>
	    <span ion-button clear item-end>  <h3>43:04<span> &nbsp; hr &nbsp;&nbsp;</span></h3>  <ion-icon ion-text color="text-darker" name="ios-arrow-forward-outline" class="icon-size full "></ion-icon></span>
	  </ion-item>
	</a>

	   <a class="dataitem">
	   <ion-item>
	    <ion-avatar item-start>
	      <img src="../assets/img/128X128.png">
	    </ion-avatar>
	    <h2>Amit Adav</h2>
	    <span ion-text="" class="text text-md text-md-success">Online</span>
	    <span ion-button clear item-end>  <h3>43:04<span> &nbsp; hr &nbsp;&nbsp;</span></h3>  <ion-icon ion-text color="text-darker" name="ios-arrow-forward-outline" class="icon-size full "></ion-icon></span>
	  </ion-item>
	</a>

	   <a class="dataitem">
	   <ion-item>
	    <ion-avatar item-start>
	      <img src="../assets/img/128X128.png">
	    </ion-avatar>
	    <h2>Antonio Furtado</h2>
	    <span ion-text="" class="text text-md text-md-success">Online</span>
	    <span ion-button clear item-end>  <h3>43:04<span> &nbsp; hr &nbsp;&nbsp;</span></h3>  <ion-icon ion-text color="text-darker" name="ios-arrow-forward-outline" class="icon-size full "></ion-icon></span>
	  </ion-item>
	</a>

	 <a class="dataitem">
	   <ion-item>
	    <ion-avatar item-start>
	      <img src="../assets/img/128X128.png">
	    </ion-avatar>
	    <h2>Anuj Khurana</h2>
	    <span ion-text="" class="text text-md text-md-success">Online</span>
	    <span ion-button clear item-end>  <h3>43:04<span> &nbsp; hr &nbsp;&nbsp;</span></h3>  <ion-icon ion-text color="text-darker" name="ios-arrow-forward-outline" class="icon-size full "></ion-icon></span>
	  </ion-item>
	</a>
	<a class="dataitem">
	   <ion-item>
	    <ion-avatar item-start>
	      <img src="../assets/img/128X128.png">
	    </ion-avatar>
	    <h2>Ashika Pednekar</h2>
	    <span ion-text="" class="text text-md text-md-success">Online</span>
	    <span ion-button clear item-end>  <h3>43:04<span> &nbsp; hr &nbsp;&nbsp;</span></h3>  <ion-icon ion-text color="text-darker" name="ios-arrow-forward-outline" class="icon-size full "></ion-icon></span>
	  </ion-item>
	</a>
	  <a class="dataitem">
	   <ion-item>
	    <ion-avatar item-start>
	      <img src="../assets/img/128X128.png">
	    </ion-avatar>
	    <h2>Cryrus Furtado</h2>
	    <span ion-text="" class="text text-md text-md-danger">Offline</span>
	    <span ion-button clear item-end>  <h3>43:04<span> &nbsp; hr &nbsp;&nbsp;</span></h3>  <ion-icon ion-text color="text-darker" name="ios-arrow-forward-outline" class="icon-size full "></ion-icon></span>
	  </ion-item>
	</a>

	</ion-list>

	<div align="center" class="text-center">
		<p>View More <br> <ion-icon name="ios-arrow-down-outline" class="icon-size full"></ion-icon></p>
	</div>

</div>
